
body {
    background-color: #563d7c;
}

#text-align {
    justify-content: center;    
}    

.navbar-text {
    color: white;
}

.col-3 {
    border: solid 1px lightgray;
    min-width: 240px;
    height: 500px;
}

#city {
    background-color: white;
}

.card {
    min-height: 250px;
}

#submit {
    display: inline-block;
}

.forecast-card .card-body {
    background-color: #c0a0f3;
    color: white;
    border-radius: 25px;    
}

.forecast-card .card {
    border-radius: 25px;

}

#uv-index {
    padding-right: 5px;
    padding-left: 5px;
}



